.App {
  text-align: center;
}

.App-header {
  min-height: 70px;
  padding: 20px;
  color: white;
  margin-bottom: 20px;
  background-color: #499a9a;
  letter-spacing: 3px;
}

.App-title {
  font-size: 2em;
}

.App-intro {
  font-size: large;
}

h4 {
  font-style: italic;
}

.rating {
  margin-top: 2px;
}

.comments {
  margin-top: 20px;
}